{% extends "base.twig" %}

{%- block head -%}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/assets/built-in/js/jquery.plainmodal.min.js"></script>
    <style>
        .top-half-left {
            float: left;
            width: calc( 25% - 20px );
            padding-left: 32px;
            padding-top: 10px;
            overflow: hidden; 
            white-space: nowrap; 
            text-overflow: ellipsis; 
            color: #919690;
            min-height: 453px;
        }

        .top-half-right {
            float: right;
            width: calc( 71% - 20px );
        }

        .top-half-left a {
            color: #919690;
        }
    </style>
{% endblock %}

{%- block top_right -%}
        <div class="mod-light" style="overflow:auto;">
            <div id="normal-bar">
                <h2>Editor</h2>
                <a id="js_create_file" style="margin-left: 20px;" href="/new_file?dir={{ current_dir }}">
                    <button><img src="/assets/built-in/img/el_file-new.png">Create File</button>
                </a> 
                <a id="js_upload_file" href="/upload_file?dir={{ current_dir }}">
                    <button><img src="/assets/built-in/img/fa-solid_upload.png">Upload File</button>
                </a> 
                <a id="js_create_folder" href="/new_folder?dir={{ current_dir }}">
                    <button><img src="/assets/built-in/img/ic_sharp-create-new-folder.png">Create Folder</button>
                </a> 
                <a href="#" onclick=";open_preview();">
                    <button><img src="/assets/built-in/img/fa-solid_globe-europe.png">Preview</button>
                </a> 
                <a href="#" onclick=";change_dir('/');">
                    <button>Previous Directory</button>
                </a> 
            </div>
            <div class="top-half-left" id="file-browser">
                Loading...
            </div>
            <div class="top-half-right" id="file-editor">
                Loading...
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function(){
                change_dir("/");
                change_file("index.html");
            });

            function request_deletion(file) {
                var csrf_token = "{{ form_token() }}";
                var endpoint   = "/request/delete_file";

                console.log(csrf_token + endpoint);

                $.post( endpoint, { file: file, token: csrf_token })
                    .done(function( data ) {
                        location.reload();
                        //actually add alert popup but for now just use this
                });
            }

            function change_file(file) {
                var endpoint   = "/ajax_edit_file?file=";

                $.get( endpoint + file, function( data ) {
                    $( "#file-editor" ).html( data );
                    console.log(endpoint + file);
                });

                $("#file-editor form").attr('action', '/request/update_file?file=' + file.split("/").at(-1));
            }

            function change_file_no_rf(file) {
                editor.setValue("Loading your file...");
                var endpoint   = "/site/{{ session.domainname|escape }}/";

                $.get( endpoint + file, function( data ) {
                    editor.setValue(data);
                    console.log(endpoint + file);
                });

                $("#file-editor form").attr('action', '/request/update_file?file=' + file.split("/").at(-1));
            }

            function open_preview() {
                preview_window = window.open( `/site/{{ session.domainname }}/index.html`, "Pebbles: Preview Site", "width=480,height=360" );
            }

            function change_dir(dir) {
                var endpoint   = "/ajax_edit_site?dir=";
                $("#js_create_file").attr('href',   '/new_file?dir=' + dir);
                $("#js_upload_file").attr('href',   '/upload_file?dir=' + dir);
                $("#js_create_folder").attr('href', '/new_folder?dir=' + dir);

                $.get( endpoint + dir, function( data ) {
                    $( "#file-browser" ).html( data );
                    console.log(endpoint + dir);
                });
            }
        </script>
        <div id="new_file" class="modal">
            <form action="/request/make_file{% if current_dir != "" %}?dir={{ current_dir }}{% endif %}" method="POST">
                <span class="text-form">
                    <b>File Name</b><br>
                    Must end with a file extension.<br>
                    {% if current_dir != "" %}
                        This file will be in the {{ current_dir }} folder.<br>
                    {% endif %}
                    <span style="color:red">* this input is required</span>
                </span>
                <input type="text" name="file_name" placeholder="File Name" class="generic-input"><br><br>
                <input type="submit" value="Make File">
            </form>
		</div>

        <div id="upload_file" class="modal">
			<form action="/request/upload_file{% if current_dir != "" %}?dir={{ current_dir }}{% endif %}" method="POST" enctype="multipart/form-data">
                <span class="text-form">
                    <b>File Input</b><br>
                    Must only be an image file.<br>
                    {% if current_dir != "" %}
                        This file will be in the {{ current_dir }} folder.<br>
                    {% endif %}
                    <span style="color:red">* this input is required</span>
                </span>
                <input type="file" name="file_upload" id="file_upload" class="generic-input"><br><br>
                <input type="submit" name="submit" value="Upload File">
            </form>
		</div>

        <div id="create_folder" class="modal">
            <form action="/request/make_folder{% if current_dir != "" %}?dir={{ current_dir }}{% endif %}" method="POST">
                <span class="text-form">
                    <b>Folder Name</b><br>
                    {% if current_dir != "" %}
                        This file will be in the {{ current_dir }} folder.<br>
                    {% endif %}
                    <span style="color:red">* this input is required</span>
                </span>
                <input type="text" name="folder_name" placeholder="Folder Name" class="generic-input"><br><br>
                <input type="submit" value="Make Folder">
            </form>
        </div>
    </div>
{% endblock %}