{% extends "base.twig" %}

{%- block top_right -%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <div class="mod-light">
            <div id="normal-bar">
                {% if current_dir != "" %}
                    <h2>{{ current_dir }}</h2>
                {% else %}
                    <h2>Your Site's Files</h2> 
                {% endif %}
                <a 
                    style="margin-left:30px;" 
                    {% if current_dir != "" %}
                        href="/new_file?dir={{ current_dir }}"
                    {% else %}
                        href="/new_file"
                    {% endif %}
                >
                    <button>Create File</button>
                </a> 
                <a 
                    {% if current_dir != "" %}
                        href="/upload_file?dir={{ current_dir }}"
                    {% else %}
                        href="/upload_file"
                    {% endif %}
                >
                    <button>Upload File</button>
                </a> 
                <a 
                    {% if current_dir != "" %}
                        href="/new_folder?dir={{ current_dir }}"
                    {% else %}
                        href="/new_folder"
                    {% endif %}
                >
                    <button>Create Folder</button>
                </a> 
            </div>
            <span class="text" style="margin-left: 32px;width: 95%;">
                {% for file in files_row %}
                    {% if file.id is defined %}
                        {% if file.ext != "" %}
                            {% if (file.parent != "/") %}
                                <img style="width: 16px;" src="/assets/built-in/img/file_browser/{{ file.ext }}.png"> <a href="/site/{{ session.domainname|escape }}{{ current_dir }}{{ file.file_name|escape }}">{{ file.file_name|escape }}</a> 
                            {% else %}
                                <img style="width: 16px;" src="/assets/built-in/img/file_browser/{{ file.ext }}.png"> <a href="/site/{{ session.domainname|escape }}/{{ file.file_name|escape }}">{{ file.file_name|escape }}</a> 
                            {% endif %}
                        {% elseif file.type == "folder" %}
                            <img style="width: 16px;" src="/assets/built-in/img/file_browser/folder.png"> <a href="/edit_site?dir=/{% if current_dir != "" %}{{ current_dir|replace({'/': ''}) }}/{% endif %}{{ file.file_name|escape }}">{{ file.file_name|escape }}</a> 
                        {% endif %}
                        {% if (file.ext == "png") or (file.ext == "jpg") or (file.ext == "jpeg") or (file.ext == "gif") %}
                            <span style="float: right">
                                <a href="/edit_file?file={{ file.file_name|escape }}"><button style="height: 16px;">Edit</button></a> <a href="#" onclick="request_deletion('{{ file.file_name|escape }}');"><button style="height: 16px;">Delete</button></a>
                                <img style="width:16px;height: 14px;" src="/assets/img/{{ file.file_name }}">
                            </span><br>
                        {% else %}
                            {% if file.ext != "" %}
                                {% if (file.parent == "/") %}
                                    <span style="float: right">
                                        <a href="/edit_file?file={{ file.file_name|escape }}"><button style="height: 16px;">Edit</button></a> <a href="#" onclick="request_deletion('{{ file.file_name|escape }}');"><button style="margin-right: 20px;height: 16px;">Delete</button></a>
                                    </span><br>
                                {% else %}
                                    <span style="float: right">
                                        <a href="/edit_file?file={{ file.file_name|escape }}&dir={{ current_dir }}"><button style="height: 16px;">Edit</button></a> <a href="#" onclick="request_deletion('{{ file.file_name|escape }}');"><button style="margin-right: 20px;height: 16px;">Delete</button></a>
                                    </span><br>
                                {% endif %}
                            {% elseif file.type == "folder" %}
                                <span style="float: right">
                                    <a href="#" onclick="request_deletion('{{ file.file_name|escape }}');"><button style="margin-right: 20px;height: 16px;">Delete</button></a>
                                </span><br>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if files_row.rows == 0 %}
                    You have no files. Do you want to <a href="/new_file">make one?</a>
                {% endif %}
            </span>
        </div>
        <script>
            function request_deletion(file) {
                var csrf_token = "{{ form_token() }}";
                var endpoint   = "/request/delete_file";

                console.log(csrf_token + endpoint);

                $.post( endpoint, { file: file, token: csrf_token })
                    .done(function( data ) {
                        location.reload();
                        //actually add alert popup but for now just use this
                });
            }
        </script>
    </div>
{% endblock %}