{% extends "base.twig" %}

{%- block top_right -%}
    <div class="mod-light">
        <div id="normal-bar">
            <h2>Your Site's Files</h2>
        </div>
        <span class="text" style="margin-left: 32px;">
            {% for file in files_row %}
                {% if file.id is defined %}
                    <a href="/site/{{ session.domainname|escape }}/{{ file.file_name|escape }}">{{ file.file_name|escape }}</a> | <a href="/edit_file?file={{ file.file_name|escape }}">Edit</a> | <a href="/request/delete_file?file={{ file.file_name|escape }}">Delete</a><br>
                {% endif %}
            {% endfor %}
            {% if files_row.rows == 0 %}
                You have no files. Do you want to <a href="/new_file">make one?</a>
            {% endif %}
        </span>
    </div>
{% endblock %}