{% extends "base.twig" %}

{%- block top_right -%}
    {#
        You'd benefit from not letting inline styles accumulate.
        Please clean these up later.
        (also manual escaping is not necessary in Twig; echoed variables are automatically escaped)
    #}
    <div class="mod-light" style="height: 700px;">
        <img src="/assets/built-in/img/Group_12.png" style="width: 100%;">
        <hr>
        <div class="top-half-left">
            <div id="normal-bar">
                <h2>Recently Updated</h2>
            </div><br>
            <div class="mod-light" style="height: 273px;overflow-y: scroll;">
                {% for site in sites %}
                    {% if site.id is defined %}
                        <div class="site-item">
                            {% if site.domain|length > 14 %}
                                <h3><a href="/site/{{ site.domain }}/index.html">{{ site.domain }}</a></h3>
                            {% else %}
                                <h2><a href="/site/{{ site.domain }}/index.html">{{ site.domain }}</a></h2>
                            {% endif %}
                            <span class="site-info">
                            by {{ site.username }}<br>
                            ...last updated at <i>{{ site.last_login|date("h:iA") }}</i>
                            </span>
                        </div><br>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="top-half-right">
            <div id="normal-bar">
                <h2>Sign In</h2>
            </div><br>
            <div class="mod-light" style="width: 259px;float: right;">
                <center>
                    <img src="/assets/built-in/img/white_logo.png" style="width: 110px;"><br>
                    Sign in with your Pebbles account
                </center>
                <span class="text">
                    <form action="/request/sign_in" method="POST" style="margin-left: 12px;">
                        <span class="text-form">
                            <b>Username</b><br>
                            This is NOT case sensitive. <br>
                            <span style="color:red">* this input is required</span>
                        </span>
                        <input type="text" name="pebble_username" placeholder="Username" class="generic-input"><br>
                        <span class="text-form">
                            <b>Password</b><br>
                            <span style="color:red">* this input is required</span>
                        </span>
                        <input type="password" name="pebble_password" placeholder="Password" class="generic-input"><br><br>
                        <a href="/sign_up" style="color: #687568;">Not a member yet?</a>
                        <input type="submit" value="Sign In" class="right-align" style="margin-right: 25px;">
                    </form>
                </span> 
            </div>
        </div>
        <div class="fullwidth">
            <br>
            <div id="normal-bar">
                <h2>Users online right now</h2>
            </div><br>
            <div class="mod-light" style="float: right;width: 622px;height: 65px;overflow-y: scroll;">
                {% for site in sites %}
                    {% if site.id is defined %}
                        <a style="color: {{ site.color }};width: 23%;display: inline-block;text-align: center;" href="/user/{{ site.username }}">{{ site.username }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}