{% extends "base.twig" %}

{#
    Why is this here? See "base.twig" for the base template.
#}

{%- block top_right -%}
    <div class="mod-light">
        <div id="normal-bar">
            <h2>Search Results for "{{ get.search_query }}"</h2>
        </div><br>
        {% set site_am = 0 %}
        {% for site in sites %}
            {% if site.id is defined %}    
                <div class="site-item" style="overflow: auto;">
                    {% if site.domain|length > 14 %}
                        <h3 style="display: inline-block;{% if site_am == 0 %}font-size:25px;{% endif %}"><a style="{% if site_am == 0 %}color:gold !important;{% endif %}" href="/site/{{ site.domain }}/index.html">{{ site.domain|length > 10 ? site.domain|slice(0, 10) ~ '...' : site.domain  }}</a></h3>
                    {% else %}
                        <h2 style="display: inline-block;{% if site_am == 0 %}font-size:25px;{% endif %}"><a style="{% if site_am == 0 %}color:gold !important;{% endif %}" href="/site/{{ site.domain }}/index.html">{{ site.domain }}</a></h2>
                    {% endif %}
                    {% if site_am == 0 %}<small style="margin-left: 5px;">(current site of the day)</small>{% endif %}
                    <br>
                    <span style="padding-top:5px;display:inline-block;width: 537px;word-wrap: break-word;">
                        {{ site.user_bio|escape }}
                    </span>
                    {% if site_am == 0 %}
                        <img style="width:150px;padding:10px;padding-left:0px;float:left;clear:left;" src="http://free.pagepeeker.com/v2/thumbs.php?size=x&url=pebbbles.net/site/{{ site.domain }}/index.html"><br>
                    {% endif %}
                    <span class="site-info">
                    by {{ site.username }}<br>
                    ...last updated at <i>{{ site.last_login|date("h:iA") }}</i><br>
                    </span>
                </div><br>
                {% if site_am == 0 %}
                <hr>
                {% endif %}
                {% set site_am = site_am + 1 %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}