<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{{ metadata.og_context.title|escape }}</title>
            <meta property="og:title" content="{{ metadata.og_context.title|escape }}" />
            <meta property="og:description" content="{{ metadata.og_context.description|escape }}" />
            <meta property="og:url" content="{{ metadata.og_context.url|escape }}" />
            <meta property="og:image" content="{{ metadata.og_context.picture|escape }}" />
            <link href="/assets/built-in/css/home.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <div class="site">
            <div class="site-container">
                {% include 'header.twig' %}

                <div class="top-left">
                    <div class="mod-dark">
                        <ul>
                            <li class="active"><a href="/" class="button-list">Home</a></li>
                            <li><a href="/potd" class="button-list">Page of the Day</a></li>
                            <li><a href="/lookup" class="button-list">User Lookup</a></li>
                            <li><a href="/tos" class="button-list">Terms of Service</a></li>
                            <li><a href="/" class="button-list">Discord Server</a></li>
                        </ul>
                    </div>
                </div>
                <div class="top-right">
                    <div class="mod-light">
                        <div id="normal-bar">
                            <h2>What is Pebbles?</h2>
                        </div>
                        <img src="/assets/built-in/img/pebbles2.png" style="width: 281px;">
                        <span class="text">
                            Lorem ipsum Dolor Sit Amet Amet minim mollit non deserunt
                            ullamco est sit aliqua dolor do amet sint. Velit officia
                            consequat duis enim velit mollit. Exercitation veniam
                            consequat sunt nostrud amet.<br><br>
                            Lorem ipsum Dolor Sit Amet Amet minim mollit non deserunt
                            ullamco est sit aliqua dolor do amet sint. Velit officia
                            consequat duis enim velit mollit. Exercitation veniam
                            consequat sunt nostrud amet.<br><br>

                            <span class="extra-text">
                                In short, You can publish your VERY OWN
                                webpage and share it with your friends and
                                family - all for
                                <b style="color: dark-green;">FREE</b>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            {% include 'footer.twig' %}
        </div>
    </body>
</html>